<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/teamapp.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>Ponovno postavljanje lozinke</title>
    {% endblock %}
</head>
<body>
<nav id="navigacija" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">TeamedApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/prikazdestinacija">Destinacije <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/prikazterena">Tereni</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style="float: right" href="profil">Profil</a>
                </li>
            {% endif %}
        </ul>
        <ul style="float: right" class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" style="float: right" href="logout">Odjava</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="uredi?urediID={{ user.id }}">Uredi podatke</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" style="float: right" href="login">Prijava</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/o_nama">O nama</a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}
    <div class="container" style="margin-top: 75px">
        <h1 style="margin-bottom: 25px">Zahtjev za ponovno postavljanje lozinke poslan!</h1>
        <p>
            Poslali smo vam email sa instrukcijama za ponovno postavljanje lozinke, ako račun postoji s unesenim
            e-mail-om.
            Ubrzo će te primiti mail. Ukoliko ga ne dobijete, uvjerite se da ste unijeli adresu s kojom ste se
            registrirali,
            te provjerite pretinac sa spamovima.
        </p>
    </div>
{% endblock %}
<footer class="footer" style="position: absolute">
    <div class="container">
        <span>Razvoj web aplikacija u Phytonu </span>
        <span style="float: right">&copy; <i>2017. Ivan Bebek</i></span>
    </div>
</footer>
</body>