{% load i18n %}{% autoescape off %}
{% blocktrans %}Zahtjev za promjenu lozinke {{ site_name }}.{% endblocktrans %}

{% trans "Slijedite link za ponovno postavljanje lozinke:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Korisničko ime, u slučaju da ste zaboravili:" %} {{ user.get_username }}

{% trans "Hvala što koristite našu aplikaciju!" %}

{% blocktrans %} TeamedApp tim{% endblocktrans %}

{% endautoescape %}